<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	<bean id="apnsServiceFactory"
		class="org.apache.camel.component.apns.factory.ApnsServiceFactory">
		<property name="feedbackHost" value="feedback.sandbox.push.apple.com" />
		<property name="feedbackPort" value="2196" />
		<property name="gatewayHost" value="gateway.sandbox.push.apple.com" />
		<property name="gatewayPort" value="2195" />
		<property name="certificatePath" value="certificate.p12" />
		<property name="certificatePassword" value="MyCertPassword" />
		<property name="connectionStrategy" value="POOL" />
		<property name="poolSize" value="15" />
		<!-- <property name="sslContext" ref="sslContext"></property> -->
	</bean>
	<bean id="apnsService" factory-bean="apnsServiceFactory"
		factory-method="getApnsService" />
	<bean id="apns" class="org.apache.camel.component.apns.ApnsComponent">
		<property name="apnsService" ref="apnsService" />
	</bean>
	<bean id="sslContext" class="org.apache.camel.component.apns.util.FixedCertificates" factory-method="clientContext"/>
	<camelContext id="camel-apns-test" xmlns="http://camel.apache.org/schema/spring">
		<route id="apns-test">
			<from
				uri="apns:consumer?initialDelay=10&amp;delay=3600&amp;timeUnit=SECONDS" />
			<to
				uri="log:org.apache.camel.component.apns?showAll=true&amp;multiline=true" />
			<to uri="mock:result" />
		</route>
	</camelContext>
</beans>
